- name: Create VMs by cloning from template
  hosts: localhost
  gather_facts: false
  vars:
    ansible_python_interpreter: /usr/bin/python3

  tasks:
  - name: Clone VMs from template
    shell: qm clone {{ cloud_template_vmid }} {{ item.vmid }} --name {{ item.name }} --full
    args:
      creates: "/etc/pve/qemu-server/{{ item.vmid }}.conf"
    loop: "{{ vms }}"


  - name: Configure VM resources and cloud-init
    delegate_to: "{{ proxmox_host }}"
    shell: |
      # Set CPU and Memory
      qm set {{ item.vmid }} --cores {{ item.cores }} --memory {{ item.memory }}
      
      # Resize boot disk
      qm resize {{ item.vmid }} scsi0 {{ item.disk }}G
      
      # Configure cloud-init with static IP
      qm set {{ item.vmid }} --ipconfig0 "ip={{ item.ip }}/24,gw={{ network.gateway }}"
      
      # Set nameservers
      qm set {{ item.vmid }} --nameserver "8.8.8.8 8.8.4.4"
      
      # Set cloud-init user
      qm set {{ item.vmid }} --ciuser ansible
      qm set {{ item.vmid }} --cipassword changeme

      # Add SSH public key
      qm set {{ item.vmid }} --sshkey /root/.ssh/id_rsa.pub
      
      # Enable start on boot
      qm set {{ item.vmid }} --onboot 1
      
      # Enable QEMU guest agent
      qm set {{ item.vmid }} --agent enabled=1,fstrim_cloned_disks=1
    loop: "{{ vms }}"

  - name: Add extra data disks to VMs that need them
    delegate_to: "{{ proxmox_host }}"
    shell: |
      qm set {{ item.vmid }} --scsi1 {{ proxmox_storage }}:{{ item.extra_disk }}
    loop: "{{ vms }}"
    when: item.extra_disk is defined

  - name: Start VMs
    delegate_to: "{{ proxmox_host }}"
    shell: |
      qm start {{ item.vmid }}
    loop: "{{ vms }}"

  - name: Wait for cloud-init to complete (this takes 10 minutes)
    pause:
      minutes: 10
      prompt: "Waiting for cloud-init to configure VMs and install QEMU guest agent..."

  - name: Check VM status and IP addresses
    delegate_to: "{{ proxmox_host }}"
    shell: |
      qm guest cmd {{ item.vmid }} network-get-interfaces 2>/dev/null || echo "Guest agent not ready"
    loop: "{{ vms }}"
    register: vm_network_check
    failed_when: false

  - name: Add newly created VMs to Ansible inventory
    add_host:
      name: "{{ item.name }}"
      ansible_host: "{{ item.ip }}"
      groups: 
        - "{{ item.role }}-server"
    loop: "{{ vms }}"
    when: item.ip is defined
    changed_when: false

  - name: Display network check results
    debug:
      msg: "{{ vm_network_check.results }}"